/* -- Cuerpo --*/
body{
   /* background:#D9C9C9;*/
   background-color:#E9E8E8;
   font-family:verdana;
  
}


/*--HEADER--*/

.jumbotron{
    /*background:#428BCA;*/
    background:#E65100;
    color:#fff;
    padding: 20px 0;
    margin-bottom:0;
}

#jumboPerfil{
    
    margin-top:-20px;
    background-color: lightblue;
    text-align :center;
    color:black;
    
}


/* -- POST -- */

.main{
    margin-top:20px;
    margin-bottom:20px;
}

.post{
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom: solid 1px gray;
}

.post .thumb{
    margin-right:10px;
    width: 40%;
}

.post .thumbnail img{
    width: 100%;
   
}

.post .contenedor-botones{
     width: 100%;
}

.lista-footer{
    list-style: none;
}

.site-footer{
    
    background-color:#222;
    color:#fff;
    padding-top:30px;
}

#eventos{
    background-color:#efefef;
    padding-left:2em;
    padding-right:1em;
}
/*-------------Carrousel y thumbnails-------------*/

.imgCategorias img{
    
    width: 100%;
    max-width:100%;
     
    height:auto;
    
}
#carru{
    background-color:#FFF;
}

#categ{
    background-color:#efefef;
}


/*----------------------------------*/



/* -- MEdia QUerie -- para diseño responsive */
@media screen and (max-width: 768px){
    .post .thumb{
        width:100%;
        margin-bottom:20px;
        margin-right:0px;
    }
}