/* -- Cuerpo --*/
body{
   /* background:#D9C9C9;*/
}

/*--HEADER--*/

.jumbotron{
    /*background:#428BCA;*/
    background:#E65100;
    color:#fff;
    padding: 20px 0;
    margin-bottom:0;
}

/* -- POST -- */

.main{
    margin-top:20px;
    margin-bottom:20px;
}

.post{
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom: solid 1px gray;
}

.post .thumb{
    margin-right:10px;
    width: 40%;
}

.post .thumb img{
    width: 100%;
}

.post .contenedor-botones{
     width: 100%;
}

.lista-footer{
    list-style: none;
}

.site-footer{
    
    background-color:#222;
    color:#fff;
    margin-top:30px;
    padding-top:30px;
}


/* -- MEdia QUerie -- para diseño responsive */
@media screen and (max-width: 768px){
    .post .thumb{
        width:100%;
        margin-bottom:20px;
        margin-right:0px;
    }
}