{% extends "::base.html.twig" %}

{% block title %}Pagina principal de DoInValencia{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('bundles/dawplantilla/css/estilo.css')}}" type="text/css" />{% endblock %}

{% block body %}
    <!--Aqui se encuntra el contenido de ejemplo para la parte principal-->
    <section class="main container">
        <div class="row">
            <!--Seccion principal-->
            <section class="posts col-md-9">
                <div class="indice">
                    <ol class="breadcrumb">
                        <!--son referencias de ejemplo.. en este caso solo estaria inicio ya que estamos en la principal-->
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Categorias</a></li>
                        <li class="active">Diseño web</li>
                    </ol>
                </div>
                <!-- Articulo 1-->
                <article class="post clearfix">
                    <a href="#" class="thumb pull-left">
                        <img class="img-thumbnail imagen" src="{{asset('bundles/dawplantilla/images/bootstrap.png')}}"></img>
                    </a>
                    <h2 class="post-tittle">
                        <a href="#">Titulo de ejemplo</a>
                    </h2>
                    <p class="post-contenido text-justify">
                        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                        Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500,
                        cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una
                        galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
                    </p>
                    <p align="right"><span class="fecha">14 de Enero de 2016</span> por <span class="post-autor"><a href="#">Fran Perez</a></span></p><br>
                    <div class="contenedor-botones">
                        <a href="#" class="btn btn-success">Comentar <span class="badge">10</span></a>
                    </div>
                </article>
                 <!-- Articulo 2-->
                <article class="post clearfix">
                    <a href="#" class="thumb pull-left">
                        <img class="img-thumbnail imagen" src="{{asset('bundles/dawplantilla/images/html.png')}}"></img>
                    </a>
                    <h2 class="post-tittle">
                        <a href="#">Titulo de ejemplo 2</a>
                    </h2>
                    <p class="post-contenido text-justify">
                        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                        Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500,
                        cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una
                        galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
                    </p>
                    <p align="right"><span class="fecha">13 de Enero de 2016</span> por <span class="post-autor"><a href="#">Fran Perez</a></span></p>
                    <div class="contenedor-botones">
                        <a href="#" class="btn btn-success">Comentar <span class="badge">20</span></a>
                    </div>
                </article>
                <!--Barra de paginacion-->
                <nav>
                    <div clas="center-block">
                        <ul class="pagination">
                            <li class="disabled"><a href="#">&laquo;<span class="sr-only">Anterior</span></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;<span class="sr-only">Siguiente</span></a></li>
                        </ul>
                    </div>  
                </nav>
            </section>
            <!--Seccion secundaria Barra lateral-->
            <aside class="col-md-3 hidden-xd hidden-sm">
                <h4>Clase</h4>
                <div class=="list-group">
                    <a href="#" class="list-group-item active">Fran</a>
                    <a href="#" class="list-group-item">Emilio</a>
                    <a href="#" class="list-group-item">Victor</a>
                    <a href="#" class="list-group-item">Raul cabron</a>
                    <a href="#" class="list-group-item">Josep maricon</a>
                </div>
                
                <h4>Articulos recientes</h4>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Titulo de ejemplo</h4>
                    <p class="list-group-item-text">como hacer un artiuclo de ejemplo</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Titulo de ejemplo 2</h4>
                    <p class="list-group-item-text">como hacer un artiuclo de ejemplo 2</p>
                </a>
            </aside>
        </div>
    </section>
{% endblock %}
        
        
{% block javascripts %}{% endblock %}